{% extends 'msys42app/base.html' %} 
{% load static %}

{% block content %}
<div class="container-fluid" style="height: 100vh">
    <div class="card" style="border: 50;">
        <h4 style="display: flex; align-items: center; justify-content: center; "> Create Child Profile</h4>
        <div class="row">
            <div class="col-12">
                
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="card-body">
                                <form method = "POST" action=""> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="code"> SPC Code </label>
                                            <input type="text" class="form-control mb-3" id="code" name="code">
                                        </div>
                                        <div class="col-4">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control mb-3" id="name" name="name">
                                        </div>
                                        <div class="col-4">
                                            <label for="monee">Cost:</label>
                                            <input type="number" class="form-control mb-3" id="monee" name="monee" min="0">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="siz">Size:</label>
                                            <input type="text" class="form-control mb-3" id="siz" name="siz">
                                        </div>
                                        <div class="col-4">
                                            <label for="ms">Mouth Size:</label>
                                            <input type="text" class="form-control mb-3" id="ms" name="ms">
                                        </div>
                                        <div class="col-4">
                                            <label for="colur">Color:</label>
                                            <input type="text" class="form-control mb-3" id="colur" name="colur">
                                        </div>
                                    </div>


                                    <!--Displays text fields prompting the user to supply details for a new water bottle. Specifically, the supplier detail should be a dropdown button that selects from the set of existing suppliers.-->
                                    <!--problem: dropdown is empty-->

                                    <div class="row">
                                        <div class="col-4">
                                        <label for="supplier">Supplier:</label>
                                        <select class="form-control" id="supplier" name="supplier">
                                                <option value="hehe"> hehe </option>
                                                <option value="haha"> haha </option>
                                        </select>
                                    </div>    


                                        <div class="col-4">
                                            <label for="quant">Quantity:</label>
                                            <input type="number" class="form-control mb-3" id="quant" name="quant" min="0">
                                        </div>

                                    </div>
                                <!--Clicking on a confirm button will save the new water bottle into the WaterBottle model.-->
                                <button type="submit" class="btn btn-primary"> Confirm </button>


                                <!--Clicking on a cancel button will navigate the user back to the suppliers template -->
                                <a href="" class="btn btn-secondary">Cancel</a>

                                </form>

                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}